@mixin font-size-xxxx-large {
  font-size: 96px;
}

@mixin font-size-xxx-large {
  font-size: 64px;
}

@mixin font-size-xx-large {
  font-size: 48px;
}

@mixin font-size-x-large {
  font-size: 32px;
}

@mixin font-size-large {
  font-size: 24px;
}

@mixin font-size-regular {
  font-size: 16px;
}

@mixin font-size-normal {
  font-size: 14px;
}

@mixin font-size-small {
  font-size: 12px;
}

@mixin font-size-x-small {
  font-size: 10px;
}

@mixin font-size-xx-small {
  font-size: 8px;
}

@mixin font-size-xxx-small {
  font-size: 6px;
}

@mixin font-color-info {
  color: #314659;
}

@mixin font-weight-1 {
  font-weight: 100;
}
@mixin font-weight-2 {
  font-weight: 200;
}
@mixin font-weight-3 {
  font-weight: 300;
}
@mixin font-weight-4 {
  font-weight: 400;     /* normal */
}
@mixin font-weight-5 {
  font-weight: 500;
}
@mixin font-weight-6 {
  font-weight: 600;
}
@mixin font-weight-7 {
  font-weight: 700;     /* bold */
}
@mixin font-weight-8 {
  font-weight: 800;
}
@mixin font-weight-9 {
  font-weight: 900;
}

/* 수직정렬 */
@mixin v-text-align ($height) {
  line-height: $height;
  height: $height;
}
