.flex-container {
  display: flex;
}

.flex-center-sort {
  justify-content: center;
  align-items: center;
}

.flex-between-sort {
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
