* {
  box-sizing: border-box;
}

.material-icons {
  font-size: 14px !important;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;

  #app {
    width: 100%;
    height: 100%;

    /* quill editor style */
    .quill-editor {
      .ql-snow {
        border: none;
      }

      .ql-container {
        height: calc(100vh - 200px);
      }

      .ql-toolbar {
        line-height: 1.5;
      }
    }
  }
}
