$white: #fff;
$black: #000;
$dark: rgb(30, 30, 30);
$navy: rgb(36, 33, 69);
$primary: rgb(31, 116, 255);

$info: #616770;
$info-blur: rgba(97, 103, 112, 0.6);

$medal-gold: #ffd700;
$medal-silver: #c0c0c0;
$medal-bronze: #cc6633;

.medal-gold {
  color: $medal-gold
}
.medal-silver {
  color: $medal-silver;
}
.medal-bronze {
  color: $medal-bronze;
}
